{{ form_start(form, {'attr': {'class': 'container mt-4'}}) }}
<div class="mb-3">

	{{ form_label(form.identificationNumber, 'Número de identificación', {'label_attr': {'class': 'form-label'}}) }}
	{{ form_widget(form.identificationNumber, {'attr': {'class': 'form-control'}}) }}
	{{ form_errors(form.identificationNumber) }}

	{{ form_label(form.firstName, 'Nombre', {'label_attr': {'class': 'form-label'}}) }}
	{{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
	{{ form_errors(form.firstName) }}

	{{ form_label(form.lastName, 'Apellido', {'label_attr': {'class': 'form-label'}}) }}
	{{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
	{{ form_errors(form.lastName) }}

</div>
<button class="btn">{{ button_label|default('Guardar') }}</button>
{{ form_end(form) }}
