{% extends 'base.html.twig' %}

{% block head %}
	{{ parent() }}
	{# rel links for pagination #}
	{{ knp_pagination_rel_links(pagination) }}
{% endblock %}

{% block title %}Estudiantes
{% endblock %}

{% block body %}
	{{ parent() }}

	<h1 class="mt-5 mb-3 fw-bold text-uppercase text-center">Lista de estudiantes</h1>

	<table class="table table-hover table-striped text-center">
		<thead>
			<tr>
				<th>Número de identificación</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			{% for student in pagination %}
				<tr>
					<td>{{ student.identificationNumber }}</td>
					<td>{{ student.firstName }}</td>
					<td>{{ student.lastName }}</td>
					<td>
						<a href="{{ path('app_student_show', {'id': student.id}) }}" class="btn btn-sm btn-success">show</a>
						<a class="btn btn-sm btn-warning" href="{{ path('app_student_edit', {'id': student.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">No se han registrado estudiantes</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="d-flex justify-content-center">
		{{ knp_pagination_render(pagination) }}
	</div>

	<a href="{{ path('app_student_new') }}">Agregar estudiante</a>
{% endblock %}
