{% extends 'base.html.twig' %}

{% block head %}
	{{ parent() }}
	{# rel links for pagination #}
	{{ knp_pagination_rel_links(pagination) }}
{% endblock %}

{% block title %}Estudiantes
{% endblock %}

{% block body %}
	{{ parent() }}

	<h1 class="mt-5 mb-3 fw-bold text-uppercase text-center">Lista de estudiantes</h1>
	<div>
		<a href="{{ path('app_student_new') }} " class="btn btn-success">Agregar estudiante</a>
	</div>

	<table class="table table-hover table-striped text-center">
		<thead>
			<tr>
				<th>
					{{ knp_pagination_sortable(pagination, 'Número de identificación', 's.identificationNumber') }}</th>
				<th>
					{{ knp_pagination_sortable(pagination, 'Nombre', 's.firstName') }}</th>
				<th>
					{{ knp_pagination_sortable(pagination, 'Apellido', 's.lastName') }}</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			{% for student in pagination %}
				<tr>
					<td>{{ student.identificationNumber }}</td>
					<td>{{ student.firstName }}</td>
					<td>{{ student.lastName }}</td>
					<td>
						<a href="{{ path('app_student_documents_show', {'id': student.id}) }}" class="btn btn-sm btn-success" target="_blank">Ver documentos</a>
						<a class="btn btn-sm btn-warning" href="{{ path('app_student_edit', {'id': student.id}) }}">Editar datos</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">No se han registrado estudiantes</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="d-flex justify-content-center navigation">
		{{ knp_pagination_render(pagination) }}
	</div>

{% endblock %}
