{{ form_start(form, {'attr': {'class': 'container mt-4'}}) }}

    <div class="mb-3">
        {{ form_label(form.pdfFile, 'PDF File', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.pdfFile, {'attr': {'class': 'form-control'}}) }}
        <div class="form-text">Max size: 5MB</div>
        {{ form_errors(form.pdfFile) }}
    </div>

    <button class="btn btn-primary">{{ button_label|default('Guardar') }}</button>

{{ form_end(form) }}