{% extends 'base.html.twig' %}

{% block head %}
	{{ parent() }}
{% endblock %}

{% block title %}Vista de documentos
{% endblock %}

{% block body %}
	{{ parent() }}
	<h1>Documentos de
		{{ student_name }}</h1>

	<div>
		<a href="{{ path('app_document_new', {'studentId': student_id}) }} " class="btn btn-success">Agregar documento</a>
	</div>

	{% if documents is not empty %}
		<ul>
			{% for document in documents %}
				<li>
					Document ID:
					{{ document.id }}<br>
					PDF File:
					<a href="{{ document.pdfFile}}" target="_blank"></a>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>Este estudiante no tiene documentos.</p>
	{% endif %}

	<a href="{{ path('app_student_index') }}">back to list</a>

	{# <a href="{{ path('app_document_edit', {'id': document.id}) }}">edit</a> #}

	{# {{ include('document/_delete_form.html.twig') }} #}
{% endblock %}
